<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/font_awesome/fontawesome-free-5.9.0-web/css/all.css">
    <link rel="stylesheet" href="public/css/estilo.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="public/js/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:600&display=swap" rel="stylesheet">
</head>

<body class="ongs" style="margin:0px;padding:0px;">
    <nav class="navbar navbar-expand-lg fixed-top" id="aa">
        <button class="navbar-toggler navbar-toggler-right btn-primary" style="background:unset" type="button"
            data-toggle="collapse" data-target="#navb" id="menucell">
            <span><i class="fas fa-list-ul"></i></span>
        </button>


        <div class="collapse navbar-collapse ffr" id="navb">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item ">
                    <a class="nav-link ml-3 tm" href="/"><i class="fas fa-home"></i> REFUGE
                        HELP</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link ml-3 tm border-bottom" style="border-bottom: solid 3px !important" href="/noticias"> <i class="far fa-newspaper"></i>
                        NOTÍCIAS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link ml-3 tm" href="/refugiados"> <i class="fas fa-user-injured"></i>
                        REFUGIADOS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link ml-3 tm" href="/ongs"> <i class="fas fa-globe"></i>
                        ONGS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link ml-3 tm" href="/sobre"><i class="fas fa-info-circle"></i>
                        SOBRE
                        NÓS</a>
                </li>
            </ul>

            <%if(typeof sess === 'undefined'){ %>
            <button class="btn btn-primary mr-3" style="color:text-primary;" type="button" data-toggle="modal"
                data-target="#myModalLogin">Login</button>
            <button class="btn btn-primary" style="color:text-primary" type="button" data-toggle="modal"
                data-target="#myModal">Cadastro</button>
            <%}else{%>

                <i class="far fa-user-circle fa-2x tm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
                <div class="dropdown-menu dropdown-menu-right">
                        <%if(sess.logado == 1){ %>
                    <a class="dropdown-item" href="/perfil">Perfil</a>
                    <a class="dropdown-item" href="/close">encerrar sessão</a>
                    <%}else{%>
                    <a class="dropdown-item" href="/adm">Perfil</a>
                    <a class="dropdown-item" href="/close">encerrar sessão</a>
                        <%}%>
                </div>

            <% }%>

        </div>
    </nav>
    <div class="container-fluid mb-5 mt-5">
        <img src="public/img/loho.png" class="mx-auto d-block">
        <div class="container shadow-lg bg-white rounded p-5" style="padding-left:24px;padding-right:24px;">
            <!--primeira parte -->
            <div class="row">
                <% if (not = "undefined") {%>
                    <h1 class="m-5 ">Não tem notícias disponíveis </h1>  
                <%}else{ var r; for(i=0;i<not.length;i++){%>
                <div class="col-sm-4 mb-5">

                    <div class="card zoom shadow-lg">
                        <a href="/noticia_modelo/<%=not[i].id_noticia%>"><img class="card-img-top" src="<%= not[i].img %>" alt="Card image cap"></a>
                        <div class="card-body shadow">
                            <p class="card-text"><%= not[i].card_body %></p>
                            <p>Publicado em <%=not[i].not_date%></p>
                            <div class="card-text border-top border-primary text-primary">
                                <a href="/noticia_modelo/<%=not[i].id_noticia%>">
                                    <h5 class="link">veja mais</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <%r++; if(r==3){%>
                <div class="row">
                    <% }}}%>
                    
                </div>
                <!--fim primeira parte -->
            </div>
        </div>
    </div>

        <!-- MODAL DE CADASTRO -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Cadastro</h4>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                class="fas fa-times"></i></button>
                    </div>

                    <div class="modal-body">
                        <form action="/cadastrar" method="post">
                            <div class="form-group">
                                <label for="nome">Nome de Usuario:</label>
                                <input type="text" class="form-control" name="nome">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha:</label>
                                <input type="password" class="form-control" name="senha">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Cadastar</button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL DE CADASTRO -->


        <!-- MODAL DE LOGIN -->
        <div class="modal fade" id="myModalLogin">
            <div class="modal-dialog-centered modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Logar</h4>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                class="fas fa-times"></i></button>
                    </div>
                    <br>
                    <div class="modal-body">
                        <form action="/logar" method="post">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha:</label>
                                <input type="password" class="form-control" name="senha">
                            </div>
                            <p>Não tem conta?, Cadastre-se <a data-toggle="modal" href="#myModal"
                                    data-dismiss="modal">aqui!</a> </p>
                            <button type="submit" class="btn btn-primary btn-block">Logar</button>

                            <!--erro login-->

                            <% if (typeof log === 'undefined'){ } else{%>
                            <div class="text-center bg-danger mt-2 rounded text-white ffr">
                                <% if(log==0){ %>
                                <script>
                                    $('#myModalLogin').modal('show');
                                </script>
                                <p>Digite seu email e senha!</p>
                                <% } else if(log==1){ %>
                                <script>
                                    $('#myModalLogin').modal('show');
                                </script>
                                <p>Usuário e senha incorretos ou não cadastrados</p>
                                <% } else if(log==2){ %>
                                <script>
                                    $('#myModalLogin').modal('show');
                                </script>
                                <p>Erro no MySQL, contate o ADM</p>
                                <% } %>
                                <% } %>
                            </div>

                            <!--erro login-->

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL DE LOGIN -->


</body>
<html>